name: Deploy to GCS

on:
  push:
    branches:
      - main

jobs:
  deploy-to-gcs:
    runs-on: ubuntu-latest
    # These permissions are required for OIDC authentication
    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Authenticate to Google Cloud using WIF
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: '${{ secrets.GCP_WIF_PROVIDER }}'
          service_account: '${{ secrets.GCP_SA_EMAIL }}'

      # Upload files to GCS
      #- name: Upload to GCS
      #  uses: google-github-actions/upload-cloud-storage@v2
      #  with:
      #    path: './build' # The folder you want to upload
      #    destination: 'my-bucket-name'
      #    parent: false # Optional: prevents creating the 'build' folder inside the bucket
